{% extends 'base.html' %} {% block title %}Home{% endblock %} 
{% block content%} 
<div class="container">
  <div class="title" style="display: flex; flex-direction: row; justify-content: space-between;" >
      <h3>Events </h3>
      <a class="text-decoration-none" href="{% url 'event:add-event' %}">
      <div class="add-event" style="display: flex; flex-direction: column;">
        <div style="margin-left: 24px; margin-bottom: 0%;">
          <ion-icon size="large" name="add-circle-outline"></ion-icon>
        </div>
        <span >New Event</span>
      </div>
      </a>
  </div>
  <div class="cards">
    {% if events %}
      {% for event in events %}
        <div class="card border border-secondary">
            <img src="{{ event.image.url }}" alt="">
            <div class="card-body">
                <p class="text-date">By {{ event.creater }} / {{ event.date }}</p>
                <div class="line"></div>
                  <p class="text">{{ event.event_name }}</p>
                </div>
                <btn class="reaction-btn p-4"><ion-icon size="large" name="heart-outline"></ion-icon></btn>
        </div>
        {% endfor %}
    {% else %}
      <p class="text text-center">No Events at the moment</p>
    {% endif %}
    </div>
  </div>
     {% endblock %}
