{% extends 'base.html' %} {% block title %} login {% endblock %} 
{% block content %}
<div class="" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-c">
        <h5 class="text-center">Login</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'accounts:login' %}" method="post">
          {% csrf_token %} {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}">
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <hr />
        <p class="text-center">
          Don't have an account?
          <btn
            style="cursor: pointer"
            class="text-primary text-decoration-none">
            <a href="{% url 'accounts:signup' %}">Create Account</a></btn >
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}